<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Amazing-Py</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<style>

  input[type=range]::-webkit-slider-thumb {
    background-color: #ffca28;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #ffca28;
  }
  input[type=range]::-ms-thumb {
    background-color: #ffca28;
  }

  /***** These are to edit the thumb and the text inside the thumb *****/
  input[type=range] + .thumb {
    background-color: #ffca28;
  }
  input[type=range] + .thumb.active .value {
    color: #ffffff;
  }
</style>
<body>
<nav class="indigo lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center amber-text text-lighten-1">Amazing-Py</h1>
        <div class="row center">
            <h5 class="header col s12 light">A Python/Flask based maze solver</h5>
        </div>
        <form>
            <div class="file-field input-field">
                <div class="btn amber lighten-1">
                    <span>Upload A Maze</span>
                    <input type="file" onchange="ReadURL(this);">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </form>
        <form action="#" id="sliderContainer" hidden>
            <p class="range-field">
                <input class="amber lighten-1" type="range" id="imageSlider" min="10" max="100" oninput="scaleSourceImage(this);"/>
            </p>
        </form>
        <div class="row center">
            <img class="responsive-img" src="#" width="50%" id="sourceImage" hidden>
        </div>
        <div class="row center">
            <button class="btn-large center-align amber lighten-1 waves-effect waves-light" type="button" name="action"
                    onclick="alert('working on it');">
                Go!
            </button>
        </div>


    </div>
    <br><br>

</div>
</div>


{#<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>#}

<footer class="page-footer indigo lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">Yes.</p>


            </div>
            {#<div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>#}
            <div class="col l3 s12">
                <h5 class="white-text">Resources</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/Unethical/amazing-py">Project GitHub</a></li>
                    <li><a class="white-text" href="https://github.com/Unethical">Jose Sepulveda - GitHub</a></li>
                    <li><a class="white-text" href="https://github.com/kevinwoodward">Kevin Woodward - GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Powered by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="../static/jquery-3.2.1.min.js"></script>
<script src="../static/materialize/js/materialize.js"></script>
<script src="../static/materialize/js/init.js"></script>
<script src="../static/materialize/js/handlers.js"></script>

</body>
</html>
